<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="${accion} + ' bloqueEstudio'">Formulario Bloque de estudios</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>

<body>

	<header>
		<h1 th:text="${accion} + ' bloqueEstudio'">Formulario Bloque de estudios</h1>
	</header>

	<main class="contenedor">
		
		<div class="acciones sticky-toolbar">
			<a th:href="@{/bloquesEstudio}" class="btn btn-secondary">Cancelar</a>
			<button type="submit" form="bloqueEstudioForm" class="btn btn-primary">Guardar</button>
		</div>

		<div class="card">
			<form id="bloqueEstudioForm"
				  th:action="${bloqueEstudio.id != null}
                          ? @{/bloquesEstudio/{id}/editar(id=${bloqueEstudio.id})}
                          : @{/bloquesEstudio/nuevo}" th:object="${bloqueEstudio}" method="post">

				<div class="error" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
				</div>
			
				<div class="form-group">
					<label for="fecha">Fecha</label>
					<input type="date" id="fecha" th:field="*{fecha}" />
				</div>

				<div class="form-group">
					<label for="horaInicio">Hora inicio</label>
					<input type="time" id="horaInicio" th:field="*{horaInicio}" />
					<span class="error" th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}"></span>
				</div>

				<div class="form-group">
					<label for="horaFin">Hora fin</label>
					<input type="time" id="horaFin" th:field="*{horaFin}" />
					<span class="error" th:if="${#fields.hasErrors('horaFin')}" th:errors="*{horaFin}"></span>
				</div>

				<div class="form-group">
					<label for="asignatura">Asignatura</label>
					<select id="asignatura" th:field="*{asignatura.id}" class="form-control">
						<option value="">-- Selecciona una asignatura --</option>
						<option th:each="asig : ${asignaturas}"
							th:value="${asig.id}"
							th:text="${asig.nombre}">
						</option>
					</select>
					<span class="error"
						th:if="${#fields.hasErrors('asignatura.id')}"
						th:errors="*{asignatura.id}">
					</span>
				</div>

			</form>
		</div>
	</main>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>

	<script th:src="@{/javascript/script.js}" src="/javascript/script.js"></script>
</body>

</html>