<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Listado de Bloques de estudio</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
</head>

  <body class="fondo" th:classappend="${bodyClass}">

    <div class="contenedor">
		<div class="card">
			<h3>Selecciona un día</h3>
	
			<form th:action="@{/bloquesEstudio/dia}" method="get">
				<label for="fecha">Fecha</label>
				<input type="date" id="fecha" name="fecha" />
				<button type="submit" class="btn btn-primary">Ver día</button>
			</form>

			<div id="calendar"></div>
		</div>
	</div>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>	
	<script th:src="@{/javascript/script.js}" src="/javascript/script.js"></script>
</body>

</html>