<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Perfil de Usuario</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>

<body>

	<header>
		<h1>Perfil de Usuario</h1>
	</header>

	<div class="contenedor">
		<article class="card-listado">
			<h3 th:text="${usuario.nombre}"></h3>
		
			<p class="card-campo">
				<span class="card-label">ID:</span>
				<span th:text="${usuario.id}"></span>
			</p>
		
			<p class="card-campo">
				<span class="card-label">Nombre:</span>
				<span th:text="${usuario.nombre}"></span>
			</p>
		
			<p class="card-campo">
				<span class="card-label">Apellidos:</span>
				<span th:text="${usuario.apellidos}"></span>
			</p>
		
			<p class="card-campo">
				<span class="card-label">Email:</span>
				<span th:text="${usuario.email}"></span>
			</p>
		</article>
		
	</div>

	<div class="barra-acciones">
		<a th:href="@{/dashboard}" class="btn btn-primary">← Dashboard</a>
		<a th:href="@{/usuarios/editar}" class="btn btn-primary">+ Editar usuario</a>
	</div>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>

	<script th:src="@{/javascript/script.js}" src="/javascript/script.js"></script>
</body>

</html>