<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="${accion} + ' tarea'">Formulario Tarea</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>

<body>

	<header>
		<h1 th:text="${accion} + ' asignatura'">Formulario Tarea</h1>
	</header>

	<div class="contenedor">
		<div class="card">

			<form th:action="${tarea.id != null}
                          ? @{/tareas/{id}/editar(id=${tarea.id})}
                          : @{/tareas/nuevo}" th:object="${tarea}" method="post">
				
				<div class="form-group">
					<label for="asignatura">Asignatura</label>
					<select id="asignatura" th:field="*{asignatura.id}" class="form-control">
						<option value="">-- Selecciona una asignatura --</option>
						<option th:each="asig : ${asignaturas}"
							th:value="${asig.id}"
							th:text="${asig.nombre}"
							th:selected="${asig.id == tarea.asignatura?.id}">
						</option>
					</select>
					<span class="error" th:if="${#fields.hasErrors('asignatura') || #fields.hasErrors('asignatura.id')}" th:errors="*{asignatura}"></span>
				</div>

				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" id="nombre" th:field="*{nombre}" placeholder="Nombre tarea" />
					<span class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
				</div>

				<div class="form-group">
					<label for="descripcion">Descripción</label>
					<input type="text" id="descripcion" th:field="*{descripcion}" placeholder="Descripción tarea" />
					<span class="error" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
				</div>

				<div class="form-group">
					<label for="fechaLimite">Fecha límite</label>
					<input type="date" id="fechaLimite" th:field="*{fechaLimite}" />
					<span class="error" th:if="${#fields.hasErrors('fechaLimite')}" th:errors="*{fechaLimite}"></span>
				</div>

				<div class="form-group">
					<label for="prioridad">Prioridad</label>
					<select id="prioridad" th:field="*{prioridad}" class="form-control">
					<option value="">-- Selecciona la prioridad --</option>
						<option th:value="1">1</option>
						<option th:value="2">2</option>
						<option th:value="3">3</option>
						<option th:value="4">4</option>
						<option th:value="5">5</option>
					</select>

					<span class="error" th:if="${#fields.hasErrors('prioridad')}" th:errors="*{prioridad}"></span>
				</div>

				<div class="form-group">
					<label for="estado">Estado</label>
					<input type="text" id="estado" th:field="*{estado}" placeholder="Estado de la tarea" />
					<span class="error" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
				</div>

				<div class="form-group">
					<label for="tiempoEstimado">Tiempo estimado</label>
					<input type="time" id="tiempoEstimado" th:field="*{tiempoEstimado}" class="form-control" />
					<span class="error" th:if="${#fields.hasErrors('tiempoEstimado')}" th:errors="*{tiempoEstimado}"></span>
				</div>

				<div class="acciones">
					<a th:href="@{/asignaturas}" class="btn btn-secondary">← Cancelar</a>
					<button type="submit" class="btn btn-primary" th:text="${accion} + ' asignatura'">Guardar</button>
				</div>

			</form>
		</div>
	</div>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>
</body>

</html>