<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${pageTitle} ?: 'horarioClase'">Horario clases</title>
    <link
      rel="stylesheet"
      th:href="@{/css/styles.css}"
      href="/css/styles.css"
    />
  </head>
  <body class="fondo" th:classappend="${bodyClass}">
    <main class="contenedor">
      <div class="tabla-wrapper">
		<h2 th:text="'Horario del día: ' + ${fecha}"></h2>
        <table>
			<tr>
				<th class="col-hora">HORA</th>
				<th class="col-dia">ASIGNATURA</th>
			</tr>

			<tr th:each="horario : ${horariosClase}">
				<td th:text="${horario.horaInicio}"></td>
				<td th:text="${horario.asignatura.nombre}"></td>
			</tr>
        </table>
      </div>

	  	<div class="barra-acciones">
			<a th:href="@{/dashboard}" class="btn btn-primary">← Dashboard</a>
			<a th:href="@{/horarioClase/nuevo}" class="btn btn-primary">+ Añadir asignatura</a>
		</div>

    </main>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>
  </body>
</html>
