<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restablecer contraseña</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>
<body>
    <div class="contenedor">
        <h1>Restablecer contraseña</h1>
        <form th:action="@{/restablecer-password}" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <label for="password">Nueva contraseña:</label>
            <input type="password" id="password" name="password" required />
            <button type="submit">Guardar nueva contraseña</button>
        </form>
    </div>

	<script th:src="@{/javascript/script.js}" src="/javascript/script.js"></script>
</body>
</html>