<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Listado de horarios de clases</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>

<body>

	<header>
		<h1>Listado de Horarios de clases</h1>
	</header>

	<main class="contenedor">
		<div class="acciones sticky-toolbar">
			<a th:href="@{/dashboard}" class="btn btn-primary">← Dashboard</a>
		</div>
		
		<div class="navegacion-dias">
			<h3>Selecciona un día</h3>
			<div th:each="dia : ${diasLectivos}">
				<a class="btn btn-diaLectivo"
					th:href="@{/horariosClase/dia/{diaLectivo}(diaLectivo=${dia})}"
					th:text="${dia.nombre}">
				</a>
			</div>
		</div>
		
	</main>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>

	<script th:src="@{/javascript/script.js}" src="/javascript/script.js"></script>
</body>

</html>