<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${pageTitle} ?: 'horarioClase'">Horario clases</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css"/>
  </head>

  <body class="fondo" th:classappend="${bodyClass}">
    <main class="contenedor">
		<h2 th:text="'Horario del día: ' + ${diaSemana}"></h2>
		<div class="horarios-grid">
			<div class="horario-card" th:each="horario : ${horariosClase}">	
				<div class="horario-horas">
					<span th:text="${horario.horaInicio}"></span>
					<span> - </span>
					<span th:text="${horario.horaFin}"></span>
				</div>
				<div class="horario-asignatura">
					<span th:text="${horario.asignatura.nombre}"></span>
				</div>
			</div>
		</div>

		<div class="barra-acciones">
			<a th:href="@{/dashboard}" class="btn btn-primary">← Dashboard</a>
			<a th:href="@{/horariosClase/nuevo(diaSemana=${diaSemana})}" class="btn btn-primary">
				+ Añadir asignatura
			</a>
		</div>
    </main>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>
  </body>
</html>
