<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="${accion} + ' horarioClase'">Formulario horarioClase</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>

<body>

	<header>
		<h1 th:text="${accion} + ' horarioClase'">Formulario Horario de Clase</h1>
	</header>

	<main class="contenedor">
		<div class="card">

			<form th:action="${horarioClase.id != null}
                          ? @{/horariosClase/{id}/editar(id=${horarioClase.id})}
                          : @{/horariosClase/nuevo}" th:object="${horarioClase}" method="post">

				<div class="error" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
				</div>
				
				<input type="hidden" th:field="*{diaLectivo}" />

				<div class="form-group">
					<label for="horaInicio">Hora inicio</label>
					<select id="horaInicio" th:field="*{horaInicio}" class="form-control">
					<option th:each="hora : ${horasDisponibles}"
							th:value="${hora}"
							th:text="${hora}">
					</option>
					</select>

					<span class="error" th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}"></span>
				</div>

				<div class="form-group">
					<label for="horaFin">Hora fin</label>
					<select id="horaFin" th:field="*{horaFin}" class="form-control">
						<option value="">-- Selecciona la hora de fin --</option>
						<option th:each="hora : ${horasFinDisponibles}"
								th:value="${hora}"
								th:text="${hora}">
						</option>
					</select>

					<span class="error" th:if="${#fields.hasErrors('horaFin')}" th:errors="*{horaFin}"></span>
				</div>

				<div class="form-group">
				<label for="asignatura">Asignatura</label>
				<select id="asignatura" th:field="*{asignaturaId}" class="form-control">
					<option value="">-- Selecciona una asignatura --</option>
					<option th:each="asig : ${asignaturas}"
						th:value="${asig.id}"
						th:text="${asig.nombre}"
						th:selected="${asig.id == horarioClase.asignaturaId}">
					</option>
				</select>
				<span class="error"
					th:if="${#fields.hasErrors('asignaturaId')}"
					th:errors="*{asignaturaId}">
				</span>
			</div>

				<div class="acciones">
					<a th:href="@{/horariosClase}" class="btn btn-secondary">Cancelar</a>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</main>

	<footer>
		<p>Planificador de estudios con Spring Boot + Supabase</p>
		<p>Author: M. Paz Jiménez Martín</p>
	</footer>

	<script th:src="@{/javascript/script.js}" src="/javascript/script.js"></script>
</body>
</html>